body{
              background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(anhnhat2.jpg);
              background-size:cover;
              background-position:center;

}
h2{
              color: white !important;
}
.login-box{
              max-width: 700px;
              float:none;
              margin: 150px auto;
              padding: 40px;
              box-shadow: center 0 0 0 0 #fff;
              box-sizing: center;


}